.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    // display: flex;
    // justify-content: space-around;
    display: grid;
    list-style-type: none;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    text-align: center;
    align-items: center;

    &__item {
        
        transition: all 0.3s;
        cursor: pointer;
        background-color: transparent;

        &:hover{
            transform: translateY(-.8rem);
            background-color: rgba($color-grey-light-1, 0.2);
        }
    }

    &__link:visited,
    &__link:link {
        text-decoration: none;
        color: #fff;
        padding: 1.5rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        font-family: $font-display;
        display: block;
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin: 6rem auto 0 auto;
    text-align: center;
    width: 70%;
}